body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(210, 221, 225);
}
.cl01 {
    color:white; background: rgb(18, 125, 213);
    text-align: center;

}
h2 {
    color:darkblue;
}
.cl02 {
    color:rgb(30, 190, 190);
}
ul {
    list-style: none;  
}
.cl03:hover {
    color:rgb(30, 190, 190);
}
#cl04 {
    color:brown;
}
#cl05:hover {
    color:darkblue
}
#id01 {
    color:white; background: rgb(18, 125, 213);
    text-align: center;
    font-size: 30px;
    font-weight: 900;

}